@charset "utf-8";

body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;}
    h1{

        color: blueviolet;
    }
    h2{
        color: blue;
        text-align:right
    }
    h1#principal{
        text-align: center;

    }

    /* 
    HTML é id = em css é #
    HTML é class = em css é .
    */
    .basico{
        color: brown;
    }
    .intermediario{
        color: rgb(105, 77, 42);
        text-align: center;
    }
    p{
       lin: 30px ;
    }


